<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="http://localhost:8000/createUser" enctype="application/x-www-form-urlencoded" >
        <div>
            <label for="userName"> Username </label>
            <input id="userName" type="text" name="username" />
        </div>
        <div>
            <label for="password"> Password </label>
            <input id="password" type="password" name="passowrd" />
        </div>
        <button type="submit"> SUBMIT </button>
    </form>
    
</body>
</html>